<ul>
  <li>
    All Meetups
    <ul>
      <li><a href="api/meetups">Date Added - Newest to Oldest</a></li>
      <li><a href="api/meetups">Date Added - Oldest to Newest</a></li>
    </ul>
  </li>
</ul>


<%= form_tag "/client/meetups", method: :get do %>
  <input type="text" name="search">
  <input type="submit" value="Search">
<% end %>




  <!-- write a description -->