<p>Meetups:</p>
<ul>
  <% @meetups.each do |meetup| %>
    <li><%= meetup['name'] %></li>
  <% end %>
</ul>


<%= form_tag "/client/meetups", method: :get do %>
  <input type="text" name="search">
  <input type="submit" value="Search">
<% end %>




  <!-- write a description -->