<h2>Your Meetups</h2>
<%= @user['name'] %>

<br>

<% @user["meetups"].each do |meetup| %>
  <p>
    <%= meetup["name"] %>
    <%= meetup["start_time"] %>
    <%= meetup["end_time"] %>
  </p>
<% end %>










