<%= form_tag "/client/events/#{@event["id"]}", method: :patch do %>
  <div>
    Name: <input type="text" name="name" value="<%= @event["name"] %>" />
  </div>
  <div>
    Location: <input type="text" name="location" value="<%= @event["location"] %>" />
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @event["description"] %>" />
  </div>
 
  <input type="submit" name="" value="Update Event"/>
<% end %>