<p>Events:</p>
<ul>
  <% @events.each do |event| %>
    <li><%= event['name'] %></li>
  <% end %>
</ul>


<%= form_tag "/client/events", method: :get do %>
  <input type="text" name="search">
  <input type="submit" value="Search">
<% end %>