<p>Locations:</p>
<ul>
  <% @locations.each do |location| %>
    <li><%= location['name'] %></li>
  <% end %>
</ul>

<%= form_tag "/client/locations", method: :get do %>
  <input type="text" name="search">
  <input type="submit" value="Search">
<% end %>